body{
	background-image: url("images/NBC/TonightShowHeader1.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-color: rgba(0, 0, 15, 1);
	position: relative;
	top: 363px;
	font-family: "Sharp Sans", "Helvetica", "Arial", "sans-serif";
}

ul {
	margin: 0px;
}

/* Style the tab */
div.tab {
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0);
}

/* Style the links inside the tab */
div.tab a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.3s;
    font-size: 25px;
}

/* Change background color of links on hover */
div.tab a:hover {
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab a:focus, .active {
    background-color: #ccc;
}

.tablinks {
	border-radius: 10px 10px 0px 0px;
}

#nbc_tablink{
	background-color: rgba(104,240,150, 0.9);
}

#cbs_tablink{
	background-color: rgba(104,150,240, 0.9);
}

#abc_tablink{
	background-color: rgba(240,104,150, 0.9);
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
	background-color: rgba(81, 81, 163, 0.3);
	color: white;
}

#NBC {
	display: block;
}

.showbar {
	padding: 10px;
	font-size: 17px;
}

.gamebar {
	padding: 8px;
	font-size: 15px;
}

#NBC_showbar {
	background-color: rgba(104,240,150, 0.9);
}

#CBS_showbar {
	background-color: rgba(104,150,240, 0.9);
}

#ABC_showbar {
	background-color: rgba(240,104,150, 0.9);
}

#Tonight_Show_gamebar {
	background-color: rgba(149,189,163, 0.9);
}

.show_link, .game_link {
	display: inline;
	list-style-type: none;
	padding: 0px 30px 0px 30px;
	color: black;
}

.gameHeader {
	background-color: black;
	color: red;
	display: block;
	padding: 5px;
	border: 15px solid #F3F0C9;
}

.game_header_name {
	margin:  35px 0px 0px 0px;
	text-align: right;
	font-size: 50px;
}

.guest_list_box {
	background-color: rgba(64, 104, 152, 0.7);
	border-radius: 25px;
	width: 15%;
	height: 100%;
	position: static;
	margin: 1%;
	float: left;
}

.guest_list{
	list-style-type: none;
	text-align: center;
	padding: 0px;
}

.guest_list_year {
	text-align: center;
	text-decoration: underline;
}

.games {
	width: 81%;
	height: 100%;
	margin: 1% 1% 1% 1%;
	float: right;
	background-color: rgba(158,158,196,0.8);
	color: black;
	border-radius: 25px;
}

.box_of_lies_image {
	float: left;
	max-width: 400px;
	max-height: 300px;
	width: 35%;
	height: auto;
}

.Box_of_Lies_description {
	float: right;
	width: 60%;
	height: 100%;
	text-align:center;
	font-size: 24px;
}

.box_of_lies_video {
	display: inline;
	margin: 10px auto;
	height: 480px;
	width: 854px; 
}

.box_of_lies_video_box {
	align: center;
	padding: 10px;
}

.Box_of_Lies_item {
	clear: both;
	padding: 1% 5% 1% 5%;
}

.Box_of_Lies_item:after {
	content: "";
	display: block;
	clear: both;
}

.Box_of_Lies_item_truth_or_lie {
}

.guest_name {
	margin: 30px 20px 10px 20px;
	text-align: center;
	font-size: 30px;
}

.episode_number {
	margin: 10px 20px 40px 20px;
	text-align: center;
	font-size: 18px;
}

#Box_of_Lies_Alec_Baldwin {
	display: block;
}

#Box_of_Lies_Megyn_Kelly,
#Box_of_Lies_Emily_Blunt,
#Box_of_Lies_Matt_Damon,
#Box_of_Lies_Lena_Dunham,
#Box_of_Lies_Russell_Crowe,
#Box_of_Lies_Vince_Vaughn {
	display: none;
}

#left-arrow-1 , #right-arrow-7{
	visibility: hidden;
}

.box_of_lies_arrow_image {
	display: inline;
	width: 10%;
	height: 10%;
	margin: 1% 1% 17% 1%;
	opacity: 0.5;
    filter: alpha(opacity=50)
}

.box_of_lies_arrow_image:hover {
	opacity: 1.0;
    filter: alpha(opacity=100);
}

a:link {
	color: white;
	text-decoration: none;
	font-size: 20px;
}

a:hover {
	color: rgba(200, 200, 200, 1);
	font-size: 20px;
	text-decoration: none;
}

.Box_of_Lies_guest_list_items{
	margin: 5px;
}

.games_page {
	margin: 10px;
}

.game_tile {
	background-color: rgba(0, 0, 0, 1);
	width: 400px;
	height: auto;
	border: 2px solid silver;
	display: block;
}

.game_tile_image {
	width: 400px;
	height:193px;
	padding: 0px;
	margin: 0px;
}

.game_tile_name {
	text-align: right;
	padding: 20px 2px 2px 2px;
	margin: 0px;
	border: 10px solid #F3F0C9;
	color: red;
}